cairocffi==1.3.0
CairoSVG==2.5.2
cffi==1.15.0
cssselect2==0.4.1
cycler==0.11.0
defusedxml==0.7.1
eyekit==0.4.0
joblib==1.2.0
kiwisolver==1.3.2
lorem==0.1.1
matplotlib==3.4.3
numpy==1.21.4
Pillow==8.4.0
pycparser==2.21
pyparsing==3.0.6
python-dateutil==2.8.2
scikit-learn==1.0.1
scipy==1.7.1
six==1.16.0
threadpoolctl==3.0.0
tinycss2==1.1.0
webencodings==0.5.1
